@model Model.EF.KHACHHANG

@{
    /**/

    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
}

@section header{
    Đổi mật khẩu
}

<div class="row">

    <div class="col-lg-11">

        <div class="panel panel-default">
            <div class="panel-heading">
                Đổi mật khẩu
            </div>

            <!-- /.panel-heading -->
            @using (Html.BeginForm("ChangePassword", "Logged", FormMethod.Post))
            {
                <div class="panel-body">
                    <div class="table-responsive">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <table class="table table-striped table-bordered table-hover">
                            <tbody>
                                <tr>
                                    <th width="50%">
                                        Nhập mật khẩu cũ
                                    </th>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="password" class="form-control" placeholder="Nhập mật khẩu cũ" id="matkhaucutxt" name="matkhaucu_txt" required />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Nhập mật khẩu mới
                                    </th>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="password" class="form-control" placeholder="Nhập mật khẩu mới" id="matkhaumoitxt" name="matkhaumoi_txt" required />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Nhập lại mật khẩu mới
                                    </th>
                                    <td>
                                        <div class="form-group">
                                            <div class="col-md-10">
                                                <input type="password" class="form-control" placeholder="Nhập lại mật khẩu mới" id="matkhaumoi2txt" name="matkhaumoi2_txt" required />
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table align="center">
                            <tr>
                                <td align="center" colspan="2">
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <button type="submit" id="btnChangePass" class="btn btn-default">Cập nhật</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            }

        </div>
    </div>
</div>

