
@{
    ViewBag.Title = "Góp ý thành công";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
}

@section header{
    Góp ý thành công
}
<table width="98%" align="right">
    <tr>
        <td>
            <b>Cảm ơn bạn vì những chia sẽ, phản hồi hữu ích. Chúng tôi sẽ phản hồi lại một cách nhanh nhất có thể, xin cảm ơn!</b><br />
            @Html.ActionLink("Back", "ThongTinUser")
        </td>
    </tr>
</table>
