
@{
    ViewBag.Title = "Giới thiệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>CD Food - Giới thiệu</title>

    <link href="~/Content/introduction.css" rel="stylesheet" />
</head>

<body>

    <div class="container">

        <!------------------------------------------------------MENU------------------------------------------------------------>
        <hr color="#FF9900" />		<!-- dòng kẻ ngang -->
        <!--tạo bảng MENU-->
        <table align="center" border="0" class="fontchu">
            <tr align="center">
                <td width="200"><a href="/trang-chu" class="dngaz"><b>TRANG CHỦ</b></a></td>
                <td width="10"><b>|</td>
                <td width="200"><a href="/dang-nhap" class="dngaz"><b>TÀI KHOẢN</b></a></td>
                <td width="10"><b>|</td>
                <td width="200"><a href="#lienhe" class="dngaz"><b>LIÊN HỆ</b></a></td>
            </tr>
        </table>

        <hr color="#FF9900" />    <!-- dòng kẻ ngang -->
        <div class="content">
            <div class="gioithieu1">
                <img src="../../images/logo/gioithieu.jpg" alt="gioithieu_img" width="100%" height="100%" />

            </div>
            <div class="gioithieu1">
                <div class="left1">
                    <h2><font color="#FF5555"> CÂU CHUYỆN THƯƠNG HIỆU</font></h2>
                    <p>Tên gọi CD xuất phát từ tên gọi của hai vị CEO đồng sáng lập công ty. CD Food mong muốn phục vụ các món ăn tốt nhất cho thực khách, cũng như chính tên gọi của thương hiệu. Kể từ khi được thành lập vào năm 2019 tại Việt Nam, chuỗi cửa hàng CD Food đã mở rộng trên khắp 19 quốc gia với 1.500 cửa hàng và con số này vẫn tiếp tục tăng trưởng không ngừng. Qua nhiều năm nỗ lực phát triển, CD Food đã trở nên phổ biến với khách hàng từ nhiều quốc gia và trở thành một trong những chuỗi nhà hàng đáng tin cậy hàng đầu trên thế giới.</p>
                </div>
                <div class="right1">
                    <img src="../../images/logo/gioithieu2.jpg" alt="gioithieu2_img" width="100%" height="100%" />
                </div>
            </div>
            <div class="gioithieu2">
                <div class="left2">
                    <img src="../../images/logo/gioithieu1.jpg" alt="gioithieu1_img" width="100%" height="100%" />
                </div>
                <div class="right2">
                    <h2><font color="#FF5555">CD FOOD VIỆT NAM</font></h2>
                    <p>Thương hiệu CD Food được công ty TNHH Chi Duy chính thức đưa vào hoạt động tại thị trường Việt Nam từ ngày 17/5/2019. Trải qua một năm hoạt động, công ty TNHH Chi Duy – đơn vị nhượng quyền độc quyền của CD Food tại Việt Nam, đã đưa thương hiệu phát triển nhanh chóng và trở thành một trong những điểm đến thân thuộc của các bạn trẻ yêu thích văn hóa ẩm thực và mong muốn trải nghiệm món ăn uy tín chất lượng với nguồn gốc xuất xứ rõ ràng.</p>
                </div>
            </div>
            <div class="gioithieu1">

                <table width="70%" border="0" align="center">
                    <tr align="center">
                        <td colspan="3"><font size="+2" color="#FF5555">GIÁ TRỊ CỐT LÕI</font></td>
                    </tr>
                    <tr align="center">
                        <td bgcolor="#FFFFFF" width="33%"><img src="../../images/icon/chatluong.png" alt="chatluong_img" /></td>
                        <td bgcolor="#FFFFFF"><img src="../../images/icon/dichvu.png" alt="dichvu_img" /></td>
                        <td bgcolor="#FFFFFF"><img src="../../images/icon/thuonghieu.png" alt="thuonghieu_img" /></td>
                    </tr>
                    <tr align="center">
                        <td><font size="+1" color="#FF5555"><b>1. CHẤT LƯỢNG HÀNG ĐẦU</b></font></td>
                        <td><font size="+1" color="#FF5555"><b>2. DỊCH VỤ THÂN THIỆN & CHUYÊN NGHIỆP</b></font></td>
                        <td><font size="+1" color="#FF5555"><b>3. THƯƠNG HIỆU ĐÁNG TIN CẬY</b></font></td>
                    </tr>
                    <tr align="center">
                        <td><br /><br />An toàn, vệ sinh và ngon miệng. Việc sử dụng các nguyên liệu an toàn, tự nhiên và vệ sinh là ưu tiên hàng đầu của CD Food. Hương vị tuyệt hảo của các món ăn là mục đích quan trọng tiếp theo mà chúng tôi muốn hướng đến.</td>
                        <td>CD Food mong muốn làm hài lòng khách hàng tốt nhất với tác phong phục vụ chuyên nghiệp và thân thiện, luôn lắng nghe những đóng góp của khách hàng.</td>
                        <td>Dựa trên hai nền tảng cốt lõi là Chất Lượng và Dịch Vụ, CD Food luôn nỗ lực xây dựng và duy trì hình ảnh thương hiệu đáng tin cậy trong mắt khách hàng.</td>
                    </tr>
                </table>

            </div>
        </div>
        <!--end .content-->
    </div>
    <!-- end .container -->
</body>
</html>


