
@{
    Layout = null;
}


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Đăng ký thành công - Congratulations</title>

    <link href="~/Content/congrats.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="congrats">
        <img src="../../images/background/congrats.jpg" width="900" height="280" alt="congrats_img" />
        <p align="center"><font size="+4">Bạn đã đăng ký thành công!</font></p>
        <p align="center"><font size="+3">Vui lòng quay lại trang <a href="/dang-nhap" class="dngaz"><b>Đăng nhập</b></a> để tiếp tục!</font></p>
    </div>
</body>
</html>


