body {
    font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
    background-color: #FFF;
    margin: 0;
    padding: 0;
    color: #000;
}

ul, ol, dl {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    padding-right: 15px;
    padding-left: 15px;
}

a img {
    border: none;
}

a:link {
    color: #414958;
    text-decoration: underline;
}

a:visited {
    color: #4E5869;
    text-decoration: underline;
}

a:hover, a:active, a:focus {
    text-decoration: none;
}

/*----------------------------------------div chứa toàn bộ trang web-------------------------------------------------*/
.container {
    width: 100%;
    background-color: #FFF;
    margin: 0px auto;
}
/*----------------------------------------div trên đầu-------------------------------------------------*/
.header {
    background-color: #FFF;
    width: 100%;
    height: 100px;
    float: left;
}
    /*phần div chứa ngày*/
    .header #date {
        width: 60%;
        height: 100px;
        float: right;
    }
    /*div chứa ảnh gif logo*/
    .header .logo {
        width: 10%;
        height: 100px;
        float: right;
    }
/*---------------------------------------div cuối trang---------------------------------------------------------*/
.footer {
    background-color: #F2F2F2;
    height: 150px;
    width: 100%;
}

    .footer .logo {
        width: 35%;
        height: 150px;
        float: left;
        background: #454545;
    }
    /*div chứa liên hệ*/
    .footer .contacts {
        width: 60%;
        height: 140px;
        float: right;
        margin-top: 10px;
        position: relative;
    }
/*div quay lại đầu trang*/
.contacts .backtotop {
    top: 40px;
    left: 900px;
    width: 130px;
    height: 60px;
    position: absolute;
}

