@charset "utf-8";
/* CSS Document */
body{
	margin: 0;
	padding: 0;
	background-image:url(../Images/background/family.jpg);
	background-size:cover;
	font:Arial, Helvetica, sans-serif;
}

.login{
	width:400px;
	height:500px;
	margin:190px 1400px auto  auto;
	border-radius:10%;
}

img{
	border-radius:50%;	
}

/*định dạng liên kết*/
a.dngaz:link, a.dngaz:visited {
    font-weight: bold;
    color: lime;
}

a.dngaz:hover {
    color: #FF4242;
    font-weight: bold;
    font-size: larger;
    text-decoration: underline;
}

